.category-button {
  font-family: 'cookie';
  height: 35px;
  width: 90px;
  background-color: white;
  border-radius: 7px;
  border-width: 0px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 550;
  color: black;
}

.category-button:hover {
  background-color: green;
  color: white;
  border-color: green;
}

.container {
  height: 20px;
  margin: 5px;
}