.main-drink {
  height: 100%;
  width: 100%;
}

.nav {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  height: 102px;
  flex-wrap: wrap;
}

.container-cards {
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px;
}