.main-explore {
  height: 100%;
  width: 100%;
}

.explore-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.explore-btn {
  margin: 10px;
  background: rgb(233, 233, 233);
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 22px;
  font-style: normal;
  font-weight: 550;
  height: 60px;
  line-height: 37px;
  width: 240px;
  color: brown;
  border-width: 0px;
}

.explore-btn:hover {
  background-color: brown;
  color: rgb(233, 233, 233);
}

.container-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
