.header {
  align-items: center;
  background-color: white;
  display: flex;
  height: 58px;
  justify-content: space-around;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.profile {
  height: 46px;
  width: 46px;
}

.profile-box {
  margin-left: 10px;
  height: 48px;
  width: 48px;
}

.button-search:hover {
  background-color: white;
}

.search-icon {
  height: 47px;
  width: 47px;
}

.title-box {
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  vertical-align: middle;
  margin-top: 25px;
}