.div-ingredient {
  height: 215px;
  width: 160px;
  text-align: center;
  background-color: white;
  border-radius: 15px;
}

.div-ingredient:hover {
  background-color: green;
}

.image-ingredient {
  height: 160px;
  width: 120px;
  border-radius: 15px;
}

.str-ingredient {
  font-family: 'cookie';
  color: black;
  font-weight: 550;
  font-size: 18px;
  text-align: center;
  height: 100%;
  width: 100%;
}

.str-ingredient:hover {
  color: white;
}