* {
  height: 100%;
}

.mainPage {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: white;
}

/* .title {
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  font-size: 80px;
  font-weight: 100;
  height: 46px;
  line-height: 60px;
} */

input::placeholder {
  color: rgb(128, 33, 33);
  font-size: 18px;
}

.email-input {
  background: rgba(138, 15, 15, 0.4);
  border: 1px solid black;
  border-radius: 20px;
  box-sizing: border-box;
  color: rgb(122, 31, 31);
  height: 70px;
  margin-top: 10px;
  width: 280px;
  border-width: 0px;
  font-size: 18px;
  padding: 10px;
}

.email-input:hover {
  background: rgba(175, 175, 175, 0.4);
}

.password-input {
  background: rgba(138, 15, 15, 0.4);
  border: 1px solid black;
  border-radius: 20px;
  box-sizing: border-box;
  color: rgb(122, 31, 31);
  height: 70px;
  margin-top: 10px;
  width: 280px;
  border-width: 0px;
  font-size: 18px;
  padding: 10px;
}

.password-input:hover {
  background: rgba(175, 175, 175, 0.4);
}

.button-login {
  background: rgba(175, 175, 175, 0.4);
  border-radius: 15px;
  color: brown;
  font-size: 20px;
  height: 40px;
  margin-top: 20px;
  width: 90px;
  border-width: 0px;
  font-weight: 550;
}

.button-login:hover {
  background: brown;
  color: white;
}

.button-login:disabled {
  background: rgb(221, 221, 221);
  color: rgb(117, 117, 117);
}

.form-centered {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  height: 100%;
  width: 100%;
}
