* {
  height: 100%;
}

.mainPage {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* .title {
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  font-size: 80px;
  font-weight: 100;
  height: 46px;
  line-height: 60px;
} */

input::placeholder {
  font-family: 'cookie';
  color: black;
  font-size: 18px;
}

.email-input {
  font-family: 'cookie';
  background: white;
  border: 1px solid black;
  border-radius: 0px;
  box-sizing: border-box;
  color: black;
  height: 70px;
  margin-top: 10px;
  width: 280px;
  border-width: 0px;
  font-size: 18px;
  padding: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.email-input:hover {
  background: green;
  color: white;
}

.password-input {
  background: white;
  border: 1px solid black;
  border-radius: 0px;
  box-sizing: border-box;
  color: black;
  height: 70px;
  margin-top: 10px;
  width: 280px;
  border-width: 0px;
  font-size: 18px;
  padding: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.password-input:hover {
  background: green;
  color: white;
}

.button-login {
  font-family: 'cookie';
  background: white;
  border-radius: 0px;
  color: black;
  font-size: 20px;
  height: 40px;
  margin-top: 20px;
  width: 90px;
  border-width: 0px;
  font-weight: 550;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.button-login:hover {
  background: green;
  color: white;
}

.button-login:disabled {
  background: rgb(221, 221, 221);
  color: rgb(117, 117, 117);
}

.form-centered {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-bottom: 100px;
}

.image-logo {
  margin-top: 100px;
  width: 140px;
  height: 200px;
  padding-bottom: 15px;
}
