.main-search-bar {
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0px;
  top: 58px;
  display: flex;
}

.input-search {
  width: 200px;
  height: 20px;
}

.container-input {
  width: 100px;
  height: 30px;
  display: flex;
}

.sec-search-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
