@font-face {
  font-family: 'cookie';
  src: url('./components/css/Almond\ Cookies.ttf') format('truetype');
}

body {
  font-family: 'cookie', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(241, 241, 241);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

