.main-header-details {
  align-items: center;
  display: flex;
  padding-top: 90px;
  margin-bottom: 20px;
  height: 300px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.image-details {
  margin-top: 5px;
  height: 220px;
  width: 200px;
  border-radius: 10px;
}

.card {
  height: 290px;
  width: 210px;
  background-color: white;
  border-radius: 10px;
}

.icons {
  flex-direction: row;
  display: flex;
  height: 60px;
}