.button-icon {
  height: 50px;
  width: 60px;
  border-radius: 8px;
  border-width: 0px;
  background-color: rgb(235, 235, 235);
}

.button-icon:hover {
  background-color: brown;
}

.main-icon {
  margin: 5px;
  height: 50px;
  width: 60px;
}