.ingredients-main {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  justify-content: flex-start;
}

.title {
  height: auto;
}

.ol {
  margin-top: 10px;
  text-align: center;
  height: auto;
}