.instructions-main {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  justify-content: flex-end;
}

.title {
  height: 20px;
  margin-bottom: 10px;
}

.instructions-str {
  width: 380px;
}